@font-face {
  font-family: "Ghibli";
  src: local('../font/Ghibli.otf') format(opentype);
}

body {
  font-family: 'Ghibli';
  background-color: #0366d6;
  background-image: url('../images/Studio_Ghibli_logo.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 65%;
  background-position-y: 70px;
}